/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');

.page-home h1,
.page-home h5 {
  font-family: 'Karla', sans-serif !important;
} */

.page-home .text-black {
  background-image: url('../../assets/images/bg-home.jpg');
  background-size: cover;
}

.page-home .h1-responsive {
  font-size: 110px;
}

.page-home p {
  font-size: 50px;
}
